<html>
<head>
    <title>Создание накладной</title>
</head>
<body bgcolor=silver text=black>
<h2>Создание накладной</h2>
<br><br>
<form method='POST' action=''>
    <label for="date">Дата перевозки:</label>
    <input type="date" id="date" name="date"
           value={% if form[0]['delivery_date'] %} {{ form[0]['delivery_date'] }} {% else %} "2020-01-01" {% endif %}
    min="2018-01-01">

    <br>

    <label for="driver">Водитель:</label>
    <select name="driver" id="driver">
        <option value="" {% if not form[0]['driver_name'] %} selected="selected" {% endif %}>Не выбран</option>
        {% for dr in options['driver'] %}
        <option value="{{ dr["driver_id"] }}"
        {% if form[0]['driver_id'] == dr["driver_id"] %} selected="selected" {% endif %}> {{ dr["name"] }}</option>
        {% endfor %}
    </select>

    <br>

    <label for="client">Клиент:</label>
    <select name="client" id="client">
        <option value="" {% if not form[0]['client_name'] %} selected="selected" {% endif %}>Не выбран</option>
        {% for cl in options['client'] %}
        <option value="{{ cl["client_id"] }}"
        {% if form[0]['client_id'] == cl["client_id"] %} selected="selected" {% endif %}> {{ cl["name"] }}</option>
        {% endfor %}
    </select>

    <br>

    <label for="transport">Транспорт:</label>
    <select name="transport" id="transport">
        <option value="" {% if not form[0]['transport_name'] %} selected="selected" {% endif %}>Не выбран</option>
        {% for tr in options['transport'] %}
        <option value="{{ tr["transport_id"] }}"
        {% if form[0]['transport_id'] == tr["transport_id"] %} selected="selected" {% endif %}> {{ tr["name"] }}</option>
        {% endfor %}
    </select>

    <br>

    <label for=amount>Количество ящиков: </label>
    <input type=text id=amount name=amount {% if form[0]['amount'] %} value="{{ form[0]['amount'] }}" {% endif %}>

    <br>

    <label for=weight>Общий вес груза (кг): </label>
    <input type=text id=weight name=weight  {% if form[0]['weight'] %} value="{{ form[0]['weight'] }}" {% endif %}>
    </table>

    <br>

    {% if not is_filled %}
    <p style="color:red;"> Необходимо заполнить все поля </p>
    {% else %}
    <br>
    {% endif %}

    <input value='Сформировать' name='send' type='submit'>
</form>

<form><input value='Отмена' name='cancel' type='submit'></form>

<a href="/menu"> Назад в главное меню</a>