<html>
<head>
    <title>Создание накладной</title>
</head>
<body bgcolor=silver text=black>
<h2>Создание накладной</h2>
<br><br>
<form method='POST' action=''>
    <table>
        <tr>
            <td align="right">
                <label for="date">Дата перевозки:</label>
            </td>
            <td>
                <input type="date" id="date" name="date"
           value={% if form[0]['delivery_date'] %} {{ form[0]['delivery_date'] }} {% else %} "2020-12-01" {% endif %}
    min="2018-01-01">
            </td>
        </tr>

        <tr>
            <td align="right">
                <label for="driver">Водитель:</label>
            </td>
            <td>
                <select name="driver" id="driver">
        <option value="" {% if not form[0]['driver_id'] %} selected="selected" {% endif %}>Не выбран</option>
        {% for dr in options['driver'] %}
        <option value="{{ dr["driver_id"] }}"
        {% if form[0]['driver_id'] == dr["driver_id"] %} selected="selected" {% endif %}> {{ dr["name"] }}</option>
        {% endfor %}
    </select>
            </td>
        </tr>

        <tr>
            <td align="right">
                <label for="client">Клиент:</label>
            </td>
            <td>
                <select name="client" id="client">
        <option value="" {% if not form[0]['client_id'] %} selected="selected" {% endif %}>Не выбран</option>
        {% for cl in options['client'] %}
        <option value="{{ cl["client_id"] }}"
        {% if form[0]['client_id'] == cl["client_id"] %} selected="selected" {% endif %}> {{ cl["name"] }}</option>
        {% endfor %}
    </select>
            </td>
        </tr>

        <tr>
            <td align="right">
                <label for="transport">Транспорт:</label>
            </td>
            <td>
                <select name="transport" id="transport">
        <option value="" {% if not form[0]['transport_id'] %} selected="selected" {% endif %}>Не выбран</option>
        {% for tr in options['transport'] %}
        <option value="{{ tr["transport_id"] }}"
        {% if form[0]['transport_id'] == tr["transport_id"] %} selected="selected" {% endif %}> {{ tr["name"] }}</option>
        {% endfor %}
    </select>
            </td>
        </tr>

        <tr>
            <td align="right">
                <label for=amount>Количество ящиков: </label>
            </td>
            <td>
                <input autocomplete="off" type=text id=amount name=amount {% if form[0]['amount'] %} value="{{ form[0]['amount'] }}" {% endif %}>
            </td>
        </tr>

        <tr>
            <td align="right">
                <label for=weight>Общий вес груза (кг): </label>
            </td>
            <td>
                <input autocomplete="off" type=text id=weight name=weight  {% if form[0]['weight'] %} value="{{ form[0]['weight'] }}" {% endif %}>
            </td>
        </tr>
    </table>

    {% if not is_filled %}
    <p style="color:red;"> Необходимо заполнить все поля </p>
    {% else %}
    <br>
    {% endif %}

    <input value='Сформировать' name='send' type='submit'>
</form>
<br>
<a href="/menu"> Назад в главное меню</a>