<html>
<head>
    <title>Накладная</title>
</head>
<body bgcolor=silver text=black>
<h2>Накладная</h2>
<br><br>
{% if form %}
<table border=1 width=min>
    <tr>
        <td align=center>Дата</td>
        <td align=center>{{ form[0]['delivery_date'] }}</td>
    </tr>
    <tr>
        <td align=center>Экспедитор</td>
        <td align=center>{{ form[0]['driver_name'] }}</td>
    </tr>
    <tr>
        <td align=center>Клиент</td>
        <td align=center>{{ form[0]['client_name'] }}</td>
    </tr>
    <tr>
        <td align=center>Транспорт</td>
        <td align=center>{{ form[0]['transport_name'] }}</td>
    </tr>
    <tr>
        <td align=center>Количество ящиков</td>
        <td align=center>{{ form[0]['amount'] }}</td>
    </tr>
    <tr>
        <td align=center>Общая масса груза, кг</td>
        <td align=center>{{ form[0]['weight'] }}</td>
    </tr>

</table>
{% else %}
<p>Ошибка</p>
{% endif %}
<br><br>
<form method='POST' action=''>
    <input value='Изменить' name='edit_note' type='submit'>
</form>
<form method='POST' action=''>
    <input value='Подтвердить' name='create_note' type='submit'>
</form>
<br><br>
<form method='POST' action=''>
    <input value='Отмена' name='cancel' type='submit'>
</form>
</body>
</html>