<html>
  <head>
    <title>Working with db</title>
  </head>
  <body bgcolor=silver text=black>
  <br><br>
    <h5>Показать фамилии и города водителей, которые пока не перевозили грузов.</h5>
    <br><br>
    <table border =1 width = 80%>
    <tr>
      <td align = center> Фамилия </td>
      <td align = center> Адрес </td>
    </tr>
    {%for row in rows%}
      <tr>
        <td align=center>{{row['surname']}}</td>
        <td align=center> {{row['addr']}}</td>
      </tr>
    {% endfor %}
    </table>
  <br><br>
  <a href="/queries"> Назад в меню запросов</a>
  </body>
</html>